* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  box-sizing: border-box;
  list-style: none;
}
:root {
  /* General letter */
  font-family: "Source Sans Pro", sans-serif;
  font-size: 0.785rem;
  color: black;

  --font-weight: 200;
  --line-height: 1.7em;

  /* Gray scale */
  --white: #fff;
  --background-gray: #f2f2f2; /* Text backgrounds, border default button (Juanma) and dark gray in table (item 1, 3, 5) */
  --border-section-gray: #ececec; /*Border big sections (Spotligh, Gallery and Additional Elements */
  --general-gray: #ccc; /* Border buttons, border small sections, border icons, items grid, text in default button (Juanma), form borders, table borders and border box */
  --button-gray: #c0c0c0; /* Juanma background Primary button */
  --black: #000;

  /* Other colors */
  --red: rgb(223, 54, 54); /*Giselle*/
  --light-blue: rgb(71, 211, 228); /*Juanma*/
  --green-footer: #7aa194; /*Giselle*/
  --blue-footer: #504651; /*Giselle*/
}
/* Headings */
main div.big-section div.section {
  width: 75%;
  margin: auto;
}

main div.big-section div.section div.subSection {
  margin: 4em;
  display: grid;
  grid-template-columns: 1.15fr 3fr;
  border-bottom: 1.5px solid var(--general-gray);
  font-weight: 200;
}

main div.big-section div.section div.subSection h3 {
  font-size: 2.9rem;
  font-weight: 300;
  padding: 0.6em 0em 0em 0em;
}

/*Headings Class Levels*/

div.subSection div.headingsLevel div.levels {
  border-bottom: 1.5px solid var(--general-gray);
  font-weight: var(--font-weight);
}

/* Header from largest to smallest level of size */

div.levels p.level1 {
  font-size: 6.5rem;
  padding: 0.23em 0em 0em 0em;
  letter-spacing: -3px;
  font-weight: 300;
}

div.levels p.level2 {
  font-size: 4.3rem;
  padding: 0.5em 0em 0.5em 0em;
  letter-spacing: -3px;
}

div.levels p.level3 {
  font-size: 2.9rem;
  padding: 0em 0em 0.79em 0em;
  letter-spacing: -2px;
}

div.levels p.level4 {
  font-size: 2.1em;
  padding: 0em 0em 0.95em 0em;
  letter-spacing: -1px;
}

div.levels p.level5 {
  font-size: 1.75rem;
  padding: 0em 0em 1.3em 0em;
}

div.levels p.level6 {
  font-size: 1.3rem;
  padding-bottom: 3.8em;
}
/*Start section headings whit subtitle */
/* Heading whit subtitle N1 */

div.subtitle p.headsubtitle1 {
  font-size: 6.5rem;
  padding: 0.7em 0em 0.18em 0em;
  letter-spacing: -3px;
  font-weight: 300;
}

div.subtitle p.subtitle1 {
  font-size: 2.6rem;
  padding: 0em 0em 1.3em 0em;
  font-style: italic;
  font-weight: 200;
}

div.subtitle p.parrafo {
  font-size: 2rem;
  line-height: 158%;
  padding-bottom: 2.35em;
  font-weight: 200;
  border-bottom: 1.5px solid var(--general-gray);
}
/* Heading whit subtitle N2 */

div.subtitle p.headsubtitle2 {
  font-size: 4.3rem;
  padding: 1.13em 0em 0.1em 0em;
  letter-spacing: -3px;
  font-weight: 300;
}

div.subtitle p.subtitle2 {
  font-size: 2.4rem;
  padding: 0.47em 0em 1.33em 0em;
  font-style: italic;
  font-weight: 200;
}
/* Heading whit subtitle N3 */

div.subtitle p.headsubtitle3 {
  font-size: 2.8rem;
  padding: 1.75em 0em 0.01em 0em;
  letter-spacing: -1px;
  font-weight: 300;
}

div.subtitle p.subtitle3 {
  font-size: 2.1rem;
  padding: 0.6em 0em 1.5em 0em;
  font-style: italic;
  font-weight: 200;
}

div.subtitle p.parrafo3 {
  font-size: 2rem;
  line-height: 158%;
  padding-bottom: 2.9em;
  font-weight: 200;
}
/* Start section unordered list */

/* Default list */
div.defaultList {
  padding: 0.89em 0em 0em 0em;
  font-size: 2rem;
}

div.defaultList p.default {
  font-size: 2.1rem;
  padding-bottom: 1.1em;
  font-weight: 300;
}

div.defaultList ul.firstList {
  padding-left: 1em;
}

div.defaultList ul.firstList li {
  list-style: disc;
  padding: 0.17em 0em;
  font-size: 0.98em;
}
/* Alternated list */

div.defaultList div.alternatedList {
  font-size: 2.1rem;
  padding: 1.75em 0em 0.5em 0em;
  font-weight: 300;
}

div.defaultList div.secondList p {
  border-bottom: 2px solid var(--general-gray);
  padding: 0.6em 0em 0.65em 0em;
}

div.defaultList div.secondList p.borderEnd {
  border-bottom: 2px solid var(--white);
  padding-bottom: 3.4em;
}
/* Section Ordered List */

div.subSection div.orderedList {
  margin-left: 0.5em;
  font-size: 2.9rem;
  font-weight: var(--font-weight);
  padding: 0.6em 0em 0em 0em;
}

div.thirdList ol.enumeratedList {
  padding: 1.5em 0em 6.1em 0em;
}

div.thirdList ol.enumeratedList li {
  list-style: decimal;
  font-size: 2rem;
  margin-left: 0.98em;
  padding: 0.3em 0em 0em 0em;
}

div.fourthList {
  padding-bottom: 3.5em;
}
div.fourthList dl dt {
  font-size: 1.95rem;
  font-weight: 400;
  padding-top: 1em;
}
div.fourthList dl dd {
  font-size: 1.95rem;
  line-height: 165%;
  padding: 1.1em 0em 1.1em 0em;
}
/* Section blockquote */
div.subSection div.blockquote {
  margin-left: 0.5em;
  font-size: 2.9rem;
  font-weight: var(--font-weight);
  padding: 0.6em 0em 0em 0em;
}
div.quote {
  padding: 1.79em 0em 5.8em 0em;
}
div.quote blockquote {
  font-size: 1.95rem;
  line-height: 162%;
  border-left: 6px solid rgb(209, 203, 203); /* Este es el gris del blockquote que es diferente */
  font-style: italic;
  padding: 0.48em 0em 0.5em 2em;
}
