* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  box-sizing: border-box;
}

:root {
  /* General letter */
  font-family: "Assistant", sans-serif;
  font-size: 0.785rem;
  color: black;

  --font-weight: 200;
  --line-height: 1.7em;

  /* Gray scale */
  --white: #fff;
  --background-gray: #f2f2f2; /* Text backgrounds, border default button (Juanma) and dark gray in table (item 1, 3, 5) */
  --border-section-gray: #ececec; /*Border big sections (Spotligh, Gallery and Additional Elements */
  --general-gray: #ccc; /* Border buttons, border small sections, border icons, items grid, text in default button (Juanma), form borders, table borders and border box */
  --button-gray: #c0c0c0; /* Juanma background Primary button */
  --black: #000;

  /* Other colors */
  --red: rgb(223, 54, 54); /*Giselle*/
  --light-blue: rgb(71, 211, 228); /*Juanma*/
  --green-footer: #7aa194; /*Giselle*/
  --blue-footer: #504651; /*Giselle*/
}
.box1 {
  width: 50%;
  height: 50%;
  color: black;
  opacity: 0.2;
}
